.navbar{
    display: flex;
    justify-content: space-between !important;
    background-color: black !important;
    align-items: center;
    text-align: center;
    font-weight: 700;
}

.logo-icon{
    margin-right: 5px;
}

.logo{
    color: white !important;
}

.nav-link{
    display: flex;
    flex-direction: column;
    color: white !important;
    margin:5px;
}

.bar{
    width: 100%;
    padding: 1px;
    height: 1px;
    background-color: red !important;
}
