.search-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-text{
    margin-top:20px;
    margin-bottom: 20px;
}

.results-container{
    width: 90%;
}

.search-results{
    display: flex;
    
}

.movies-search-grid, .tv-search-grid{
    width: 100%;
    display:grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    grid-gap: 5px;
}

.movies-grid{
    display: block !important;
}

.tv-grid{
    display: block !important;
}
